@import url("https://fonts.xz.style/serve/inter.css");

@import url("https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css");

:root {
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #665044;
  --nc-bg-2: #665044;
  --nc-bg-3: #665044;
  --nc-lk-1: #E14052;
  --nc-lk-2: #E14052;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #E14052;
  --nc-ac-tx: #FFFFFF;
}
  /* Custom CSS for navigation bar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: url('banner.png');
    background-size: contain; /* This will ensure the entire image is always visible */
    background-repeat: repeat-x;
    background-position: center;
    color: white;
  }

  nav ul {
      list-style-type: flex;
      padding: 0;
      margin: 0;
  }

  nav ul li {
      display: inline;
      margin-right: 20px;
  }

  nav ul li a {
      text-decoration: none;
      color: white;
  }
  .hc a {
      text-decoration: none;
      color: white;
  }
  .dropdown {
  position: relative;
  display: inline-block;
 }
.hc:hover a {
      text-decoration: none;
      color: #E14052;
  }
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #333;
   min-width: 100px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }

  .dropdown-content a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown:hover .dropdown-content{
    display: block;
    color: white;
 }
.dropdown-content a:hover {
color: #E14052;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.row {
  display: grid;
  gap: 70px;
  grid: 130px / auto auto auto;
}
.container {
  display: relative;
}
#rcorners2 {
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 2px solid #222222;
  border-bottom: 1px solid #222222;
  padding: 10px; 
  width: 200px;
  height: 110px;
}
#rcorners1 {
 position: relative;
 border-bottom-right-radius: 20px;
 border-bottom-left-radius: 20px;
 border: 2px solid #222222;
 border-top: 1px solid #222222;
 padding: 10px;
 border: 2px solid #222222;
 width: 200px;
 height: 25px;
}

#image {
  width: 201px;
  height: 134px;
  background-size: cover;
}

#image:hover {
  background-image: url('selection.png');
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.4);
}

body {
  background-image: url('background.png');
  background-size: 100% auto;
  background-position: center 190px; /* This will start the background image 500px down from the top */
  color: #665044;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #665044;
}